---
layout: default
---

<ul class="posts">
  {% for post in site.posts %}
  {% assign post_date =  post.date | date: '%m-%d' %}
  {% unless post.title == "Serverless Docker on AWS Lambda with Zappa" %}
    <li>
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> -
      {% if post_date == "07-01"  %}
      <i>{{ post.date | date: "%-d %b %Y" }} 🇨🇦</i>
      {% else %}
      <i>{{ post.date | date: "%-d %b %Y" }}</i>
      {% endif %}
    </li>
  {% endunless %}

  {% endfor %}

</ul>